body, html{
    height: 100%;
    width: 100%;
}
/* estilos login */
main{
    height: 95%;
}
.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container > .login, 
.main-container > .hero-body{
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
} 
/* piede de pagina */
footer {
    height: 5%;
    padding: 5px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}